---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Reach out" subtitle="If you are looking for a facilitator, need help with navigating the side, want to contribute resources, reach out to our Stewarding Team and they will help you or connect you with the right people." />
<div style={{
    display: 'grid',
    placeItems: 'center',
    gridAutoFlow: 'row', // Ensure items flow in a column
    minHeight: '1vh',
    gap: '2rem', // Add gap between components
  }}>



  <Features3
    title="Drop us a message today!"
    
    items={[
      {
        title: 'Email',
        description: 'contact@convergentfacilitation.org',
        icon: 'tabler:mail',
      },
    ]}
  />
</div>

</Layout>
