---
import Layout from '~/layouts/PageLayout.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Convergent Facilitation — Finding solutions that work for everyone',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Collaborative Decision-Making"
    actions={[
      {
        variant: 'primary',
        text: 'Get a website',
        href: 'case-studies',
        icon: 'tabler:news',
      },
      { text: 'Connect with us', href: '#journey', icon: 'tabler:plant' },
    ]}
    image={{ src: '~/assets/images/e8petrie.png', alt: 'Upward pointing arrow made out of many colorful dots' }}
  >
    <Fragment slot="title">
      Empower<span class="text-accent dark:text-white highlight"> your local neighborhood</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
Get the tools to make and implement the decisions from start to end for what your local community needs and wants. 

    </Fragment>
  </Hero2>

  <BlogLatestPosts
    title="Upcoming Events"
    information={`Participate in events that will give you an experience of what Convergent Facilitation feels like, give you the opportunity to ask questions to someone who's been out there and done it, get support in taking the first towards becoming a Convergent Facilitator, and deepen your skills and integration of the underlying principles.`}
    category="events"
    linkText="View all events"
    linkUrl="/events"
    >
        </Fragment>
        <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Why choose Convergent Facilitation?"
    items={[
      {
        title: 'Everything that matters is included',
        description: "We leave no stone unturned to discover and capture what's important to all stakeholders in the decision. This creates a solid foundation to explore all sorts of creative solutions.",
        icon: 'tabler:grain',
      },
      {
        title: 'We aim for zero waste',
        description:
          'We have all and only the necessary discussions, hearing every need, but not every voice. This enables us to capture all that is important to everyone without draining the group’s energy when people repeat what’s already been said.',
        icon: 'tabler:recycle',
      },
      {
        title: 'We create conditions to make shifts possible', 
        description: "We don’t expect people to change their position or values, because it’s not necessary for them to agree on specific solutions. All we aim for is to make it possible for people to trust that everyone cares about what matters to them, to see that there are deep principles they all care about regardless of their differences, and to be supported in seeing and caring about what matters to others. This combination is what moves people to orient to the whole. Then they can shift to see that this or that proposal isn’t actually threatening anything that matters to them.",
        icon: 'tabler:arrows-diagonal-minimize',
      },
      {
        title: 'We aim for solutions that work for the most powerful and the least powerful', 
        description: "We go through great efforts to bring in, hear and integrate all that matters to all stakeholders across power differences. Without those with the most power, agreements might just not be implemented. Without those with the least power, agreements might simply not work. We know that this is a key condition for a practical, sustainable and implementable outcome.",
        icon: 'tabler:hearts',
      },
      {
        title: 'We never settle for compromise',
        description:
          'We know that when people compromise an agreement is more likely to be broken later. We never push anyone to agree to anything. We invite dissent to know more of what’s important and then we keep integrating what we hear until we are done. Then everyone is on board',
        icon: 'tabler:star',
      },
    ]}
    
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Convergent Facilitation in the World"
    information={`Read about real-life examples where Convergent Facilitation (CF) helped to find solutions that work for everyone: from large scale decision-making processes to weaving in the underlying principles of CF into work and personal life. `}
    category="case-studies"
    linkText="View all case studies"
    linkUrl="/case-studies"

  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Appreciation for Convergent Facilitation"
    testimonials={[
      {
        testimonial: `There is a belief in our culture that we have to choose between collaboration and efficiency. It’s one or the other. Convergent Facilitation shows that there is an efficient path—perhaps the only truly efficient one—that gets everyone’s needs met.`,
        name: 'Frederic Laloux',
        job: 'Author of "Reinventing Organisations"',
        image: {
          src: '~/assets/images/frederic-laloux.jpg',
          alt: 'Frederic Laloux Image',
        },
      },
      {
        testimonial: `Convergent Facilitation will steer us away from wasting time and accelerate our work for the Great Turning`,
        name: 'Joanna Macy',
        job: 'Root teacher of the "Work That Reconnects"',
        image: {
          src: '~/assets/images/joanna-macy.jpg',
          alt: 'Joanna Macy Image',
        },
      },
      {
        testimonial:
          'Convergent Facilitation is a revolutionary new way of collaborating by creating space for all needs to be heard, inviting dissent without fear or animosity, and attending to power dynamics that are in the room.',
        name: 'Aaron Goggans',
        job: 'Writer, facilitator, and organizer with the Movement for Black Lives',
        image: {
          src: '~/assets/images/aaron-goggans.jpg',
          alt: 'Aaron Goggans Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: '/testimonials',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline=""
    title="How people experienced Convergent Facilitation"
    image={{ src: '~/assets/images/e8petrie.png', alt: 'Aimee Ryan Photo' }}
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Aimee Ryan</h3>
      At some point, we came upon the issue that was THE issue; the one that, if we didn't crack, we wouldn't reach consensus on the overall project. When we didn't think we could find consensus, we created the opportunity to simply publish the opposing viewpoints. Eventually, we agreed that the field didn’t need another report that outlined the polarizing perspectives. So instead, we dug deeper, expanded our creativity, and developed a frame, and solutions, that held us all.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    image={{ src: '~/assets/images/e8petrie.png', alt: 'Vanda Perez Bessone Photo' }}>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Vanda Perez Bessone</h3>
    As soon as we started meeting, we had fun. Parents, staff and board members didn’t experience the decision process as a debate - no one tried to convince anyone else - and our discussions didn’t feel endless. The main shift happened when we discovered we could integrate two pathways we initially thought of as opposite. We could merge them into a parallel and complementary model that works beautifully.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
   

    image={{ src: '~/assets/images/e8petrie.png', alt: 'Tim Mahoney Photo' }}>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Tim Mahoney</h3>
      I really had no interest nor any belief that this process would actually do anything. However, the trust that it built was quite amazing to me. I wouldn’t have believed it was possible, but we achieved more collaboratively than we were able to do as adversaries.” There was a moment when it became apparent to me that people had become problem-solvers rather than position-staters.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    image={{ src: '~/assets/images/e8petrie.png', alt: 'Katy Mamen Photo' }}>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Katy Mamen</h3>
    I came up against a lot of intense power struggles when I worked as an advocate. Instead, what I witnessed in this process was completely different: people representing different parts of the system came together and stayed together across real differences, went to the heart of thorny issues, and came out at the other end with realistic, durable and robust strategies.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <!-- Steps Widget ****************** -->
  <Steps
    id="journey"
    title="Start your journey to become a Convergent Facilitator yourself"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Participate in an Intro Course</span>',
        description:
          "About two to three times a year we offer an introduction to the principles, practices and processes involved in Convergent Facilitation — and of course many other aspiring and inspiring Convergent Facilitators!",
        icon: 'tabler:plant',
      },
      {
        title: 'Step 2: <span class="font-medium">Start Practicing and Learning in Community</span>',
        description:
          "Applying Convergent Facilitation — may it be weaving in CF principles or offering a full process to a large group — can be tough! We offer your different ways to practice in safe spaces where you can stumble and fall and learn with every step you take.",
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Step 3: <span class="font-medium">Start Applying Convergent Facilitation</span>',
        description:
          'Discover more and more opportunities where you can bring Convergent Facilitation in a way that works for you and with the community supporting you every step along the way.',
        icon: 'tabler:paint',
      },
      {
        title: 'Join Us in Bringing Convergence to the World!',
        icon: 'tabler:sparkles',
      },
    ]}
    image={{ src: '~/assets/images/cobbled_path.jpg', alt: 'Cobbled Path' }}
  />
  
    <!-- HighlightedPosts Widget ******* -->


 

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Sign up to our Newsletter',
        href: 'newsletter',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
    Stay in the loop
    </Fragment>

    <Fragment slot="subtitle">
    Hear about new case studies, upcoming learning events. We don't post very often ;)

  </CallToAction>
</Layout>
